.btn-group {
  display: inline-block;
  margin: 10px;
  max-width: 60px;
}

.clear {
    background-color: red;
}

.save {
    background-color: lightgreen;
}
.btn-snap {
  display: inline-block;
  margin: 10px;
}

.sheet {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  touch-action: none;
  border: 1px solid black;
}

#baseRow {
  width: 100%;
}
.collection {
  margin-top: 2.5%;
}
.row {
  text-align: center;
  float: left;
  position: relative;
  width: 50%;
  margin-left: 3%;
  margin-right: 3%;
}
